<div class="navbar-default sidebar" role="navigation" > 
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">

                    <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                    </li>  
                   
                <li>
                    <a href="#"><i class="fa fa-user fa-fw"></i> Inscription<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse" aria-expanded="false" >
                        <li>
                            <a href="{{path('app_register')}}"><i class="fa fa-arrow-right"> </i> Nouveau Inscrit</a>
                        </li>
                        
                        <li>
                            <a href="{{path('listR')}}"><i class="fa fa-arrow-right"> </i> Liste des Inscrits</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
               
                    <li>
                            <a href="#"><i class="fa fa-edit fa-fw"></i> Specialités<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse" aria-expanded="false" >
                                <li>
                                    <a href="{{path('nouvelleS')}}"><i class="fa fa-arrow-right"> </i> Nouvelle Specialté</a>
                                </li>
                                
                                <li>
                                    <a href="{{path('listeS')}}"><i class="fa fa-arrow-right"> </i> Liste Des Specialté</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                    </li>
                
               
                <li>
                        <a href="#"><i class="fa fa-sitemap fa-fw"></i> Formations<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse" aria-expanded="false" >
                            <li>
                                <a href="{{path('nouvelleM')}}"><i class="fa fa-arrow-right"> </i> Nouveau MUS</a>
                            </li>
                            <li>
                                    <a href="{{path('nouvelleL')}}"><i class="fa fa-arrow-right"> </i> Nouvelle LUS</a>
                                </li>
                            <li>
                                <a href="{{path('listeF')}}"><i class="fa fa-arrow-right"> </i> Liste Des Formations</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                </li>
              
                <li>
                        <a href="#"><i class="fa fa-table fa-fw"></i> Contrats<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse" aria-expanded="false" >

                           
                            <li>
                                <a href="{{path('nouvelleCL')}}"><i class="fa fa-arrow-right"> </i> Nouvelle LUS</a>
                            </li>
                            <li>
                                <a href="{{path('nouvelleCM')}}"><i class="fa fa-arrow-right"> </i> Nouvelle MUS</a>
                            </li>
                            <li>
                                <a href="{{path('listeC')}}"><i class="fa fa-arrow-right"> </i> Liste des Contrats</a>
                            </li>

                           

                           

                        



                        </ul>
                        <!-- /.nav-second-level -->
                </li>
                           
            </ul>
            <br>

            
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>