{% extends 'base.html.twig' %}

{% block title %}CalendarMus index{% endblock %}

{% block body %}
    <h1>CalendarMus index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>BeginAt</th>
                <th>EndAt</th>
                <th>Title</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for calendar_mus in calendar_muses %}
            <tr>
                <td>{{ calendar_mus.id }}</td>
                <td>{{ calendar_mus.beginAt ? calendar_mus.beginAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ calendar_mus.endAt ? calendar_mus.endAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ calendar_mus.title }}</td>
                <td>
                    <a href="{{ path('calendar_mus_show', {'id': calendar_mus.id}) }}">show</a>
                    <a href="{{ path('calendar_mus_edit', {'id': calendar_mus.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('calendar_mus_new') }}">Create new</a>
{% endblock %}
